@{
    ViewBag.Title = "合同结算";
    Layout = "~/Views/Shared/_Index.cshtml";
}
    <div class="lr-layout lr-layout-left-center" id="lr_layout">
        <div class="lr-layout-left">
            <div class="lr-layout-wrap">
                <div class="lr-layout-title lrlg ">树形列表</div>
                <div id="dataTree" class="lr-layout-body"></div>
            </div>
        </div>
        <div class="lr-layout-center">
            <div class="lr-layout-wrap lr-layout-wrap-notitle ">
                <div class="lr-layout-tool">
                    <div class="lr-layout-tool-left">
                        <div class="lr-layout-tool-item">
                            <div id="multiple_condition_query">
                                <div class="lr-query-formcontent">
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">合同状态</div>
                                        <div id="F_ContractStatus"></div>
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">合同起日</div>
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">合同止日</div>
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">手机</div>
                                        <input id="F_Mobile" type="text" class="form-control" />
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">收款人</div>
                                        <input id="F_payee" type="text" class="form-control" />
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">开户行</div>
                                        <input id="F_BankName" type="text" class="form-control" />
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">付款状态</div>
                                        <div id="F_PayStatus"></div>
                                    </div>
                                    <div class="col-xs-12 lr-form-item">
                                        <div class="lr-form-item-title">人才签约代表</div>
                                        <div id="F_ApplicantId"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lr-layout-tool-right">
                        <div class=" btn-group btn-group-sm">
                            <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                        </div>
                        <div class=" btn-group btn-group-sm" learun-authorize="yes">
                            <a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增</a>
                            <a id="lr_edit" class="btn btn-default"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                            <a id="lr_delete" class="btn btn-default"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                            <a id="lr_adddetails" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp; 结算详情</a>
                            <a id="lr_print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;打印</a>
                        </div>
                    </div>
                </div>
                <div class="lr-layout-body" id="gridtable" style="height:60%">
                </div>

                <hr style="height:1px;border:none;border-top:1px solid #ccc;" />
                <div class="lr-layout-body" id="detailstable" style="height:30%">
                </div>
            </div>
        </div>
    </div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/Settlements/Index.js")
