<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="icon" href="~/favicon.ico">

    <title>@ViewBag.Title|力软信息|快速开发平台|Learun敏捷开发框架</title>
    <link href="~/Content/font/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/GrapeCity/GrapeCity.ActiveReports.Viewer.Html.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/fonts/bootstrap-3.0.0.js"></script>
    <script src="~/Content/GrapeCity/knockout-2.3.0.js"></script>
    <script src="~/Content/GrapeCity/GrapeCity.ActiveReports.Viewer.Html.js"></script>
    <script>
        function request(d) { for (var c = location.search.slice(1).split("&"), a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) if ("undefined" == unescape(b[1])) break; else return unescape(b[1]) } return "" };
    </script>

    <style>
        div.page {
            margin: auto;
        }

        #singleView {
            position: relative !important;
        }
        /*.btn-toolbar .btn-group {
            clear:left;
            display:inline-block;
        }
        .ar-viewer .toolbar {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            text-align:right;
        }*/
    </style>

</head>
<body class="@Learun.Util.Net.Browser @Learun.Util.WebHelper.GetUITheme()">
    @RenderBody()
</body>
</html>
