@{
    ViewBag.Title = "个人资格证";
    Layout = "~/Views/Shared/_Form.cshtml";
}
    <div class="lr-form-wrap" id="form">
        <div class="col-xs-12 lr-form-item" data-table="tc_IDCard" style="display: none; ">
            <div class="lr-form-item-title">Id</div>
            <input id="F_PersonId" type="text" class="form-control" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_IDCard">
            <div class="lr-form-item-title">姓名</div>
            <input id="F_UserName" type="text" class="form-control" disabled />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_IDCard">
            <div class="lr-form-item-title">身份证号码</div>
            <input id="F_IDCardNo" type="text" class="form-control" disabled />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">证书类型<font face="宋体">*</font></div>
            <div id="F_CertType" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">专业类型<font face="宋体">*</font></div>
            <div id="F_MajorType" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">证书专业<font face="宋体">*</font></div>
            <input id="F_Major" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">发证机构<font face="宋体">*</font></div>
            <input id="F_CertOrganization" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">资格发证日<font face="宋体">*</font></div>
            <input id="F_CertDateBegin" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_CertDateBegin').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">资格失效日<font face="宋体">*</font></div>
            <input id="F_CertDateEnd" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_CertDateEnd').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">资格证形式<font face="宋体">*</font></div>
            <div id="F_CertStyle" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">库存状态<font face="宋体">*</font></div>
            <div id="F_CertStatus" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">执业证形式<font face="宋体">*</font></div>
            <div id="F_PracticeStyle" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">执业印章<font face="宋体">*</font></div>
            <div id="F_PracticeSealStyle" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">登记日期<font face="宋体">*</font></div>
            <input id="F_CheckInTime" type="text" class="form-control lr-input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd',onpicked: function () { $('#F_CheckInTime').trigger('change'); } })" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-12 lr-form-item" data-table="tc_Credentials">
            <div class="lr-form-item-title">备注</div>
            <textarea id="F_Description" class="form-control" style="height:100px;"></textarea>
        </div>
    </div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/Credentials/Form.js")
