@{
    ViewBag.Title = "页面风格选择";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@Html.AppendCssFile("/Areas/LR_PortalSite/Views/Page/SelectForm.css")
<div class="body" >
    <div class="content">
        <div class="box">
            <div class="box-content" data-value="1">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/newpage1.png" />
                    <img class="img2" src="~/Content/images/plhome/newpage2.png" />
                </div>
                <div class="text">风格一</div>
            </div>
        </div>
        <div class="box">
            <div class="box-content" data-value="2">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/product1.png" />
                    <img class="img2" src="~/Content/images/plhome/product2.png" />
                </div>
                <div class="text">风格二</div>
            </div>
        </div>
        <div class="box">
            <div class="box-content" data-value="3">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/aboutpage1.png" />
                    <img class="img2" src="~/Content/images/plhome/aboutpage2.png" />
                </div>
                <div class="text">风格三</div>
            </div>
        </div>
    </div>
</div>

@Html.AppendJsFile("/Areas/LR_PortalSite/Views/Page/SelectForm.js")