@{
    ViewBag.Title = "设置内容";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@Html.AppendCssFile("/Areas/LR_PortalSite/Views/Page/SetContentForm.css")
<div class="body">
    <div class="bodycontent">
        <div class="left">
            <div class="left-list" id="left_list">
            </div>
        </div>
        <div class="right">
            <div class="top">
                <div class="title">
                    选择文章
                </div>
                <div class="search-bar">
                    <div class="lr-layout-tool-item" style="width: 200px;">
                        <div id="F_Category" style="border-radius: 4px;"></div>
                    </div>
                    <div class="lr-layout-tool-item" style="width: 200px;">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="content" id="select_grid">
                </div>
            </div>
            <div class="bottom">
                <div class="title">
                    已选择文章
                </div>
                <div class="content" id="selected_grid">
                </div>
            </div>
        </div>
    </div>
</div>

@Html.AppendJsFile("/Areas/LR_PortalSite/Views/Page/SetContentForm.js")

