@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Form.cshtml";
}
    <div class="lr-form-wrap" id="form">
        <div class="col-xs-12 lr-form-item" data-table="tc_Relation" style="display: none; ">
            <div class="lr-form-item-title">F_RelationId<font face="宋体">*</font></div>
            <input id="F_RelationId" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
        </div>

        <div class="col-xs-12 lr-form-item" data-table="tc_Relation">
            <div class="lr-form-item-title">审查状态<font face="宋体">*</font></div>
            <div id="F_RelationStatus" isvalid="yes" checkexpession="NotNull"></div>
        </div>

        <div class="col-xs-12 lr-form-item" data-table="tc_Relation">
            <div class="lr-form-item-title">备注</div>
            <textarea id="F_Description" class="form-control" style="height:100px;" isvalid="yes"></textarea>
        </div>

    </div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/Relation/Form.js")
