<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=47.114.6.252;Initial Catalog=TC_MIS_DB;User ID=test;Password=@Tc123456" providerName="System.Data.SqlClient" />
  <add name="WFDB" connectionString="Server=47.114.6.252;Initial Catalog=TC_WORKFLOW_DB;User ID=test;Password=@Tc123456" providerName="System.Data.SqlClient" />
</connectionStrings>