<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=127.0.0.1;Initial Catalog=TC_MIS_DB;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="WFDB" connectionString="Server=127.0.0.1;Initial Catalog=TC_WORKFLOW_DB;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
</connectionStrings>