<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 是否启用js、css压缩-->
  <add key="JsCompressor" value="false" />
  <!-- 是否启用js、css缓存-->
  <add key="JsCompressorCache" value="false" />
  <!-- 代码生成器路径-->
  <add key="BackProject" value="Learun.Application.TwoDevelopment" />
  <add key="MappingDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.Mapping" />
  <add key="ServiceDirectory" value="\Learun.Framework.Module\Learun.Application.Module\Learun.Application.TwoDevelopment" />
  <add key="WebDirectory" value="\Learun.Application.Web" />
  <add key="ApiDirectory" value="\Learun.Application.WebApi" />
  <add key="AppDirectory" value="\pulsApp" />
  <add key="WxDirectory" value="\uniApp" />
  <!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
  <!--企业号CorpId -->
  <add key="CorpId" value="此处要设置" />
  <!--企业号凭证密钥 -->
  <add key="CorpSecret" value="此处要设置" />
  <!--开放平台AppId -->
  <add key="AppId" value="此处要设置" />
  <!--开放平台凭证密钥 -->
  <add key="AppSecret" value="此处要设置" />
  <!-- ================== 3：访问过滤配置 ================== -->
  <!--设置IP过滤 -->
  <add key="FilterIP" value="false" />
  <!--设置时段过滤 -->
  <add key="FilterTime" value="false" />
  <!-- ================== 4：系统软件参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="www.learun.cn" />
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="上海力软信息技术有限公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="Learun敏捷开发框架" />
  <!-- 软件名称 -->
  <add key="SoftName" value="Learun.敏捷开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="7.0.6.01" />
  <!-- 软件注册码，备用 -->
  <add key="RegisterKey" value="NO:LR20180307002" />
  <!-- ================== 5：外部邮件参数 ================== -->
  <!-- 系统错误自动发送邮件 -->
  <add key="ErrorToMail" value="false" />
  <!-- 接收错误信息的邮箱 -->
  <add key="RereceiveErrorMail" value="receivebug@learun.cn" />
  <!-- 发出邮箱的名称 -->
  <add key="MailName" value="力软邮件中心" />
  <!-- 发出邮箱的地址 -->
  <add key="MailUserName" value="sendbug@learun.cn" />
  <!-- 发出邮箱的密码 -->
  <add key="MailPassword" value="learun123" />
  <!-- 发出邮箱设置邮箱主机 -->
  <add key="MailHost" value="smtp.ym.163.com" />
  <!-- ================== 6：即时通信参数 ================== -->
  <!-- SignalR服务接口-->
  <add key="IMUrl" value="http://localhost:8012/signalr" />
  <add key="IMOpen" value="false" />
  <add key="userKey" value="14B417B0-463D-4C2B-8075-0A20EEDB573B" />
  <!-- ================== 7：附件上传地址 ================== -->
  <add key="AnnexesFile" value="C:/fileAnnexes" />
  <add key="ReportFile" value="~/Reports" />
  <!-- ================== 8：流程服务地址 ================== -->
  <add key="workflowapi" value="http://localhost:8013" />
  <!--Redis 缓存前缀 -->
  <add key="RedisPrev" value="adms706pro" />
  <!--缓存链接配置-->
  <add key="RedisExchangeHosts" value="127.0.0.1:6379,allowadmin=true"/>

  <!--head 头像存储地址 -->
  <add key="fileHeadImg" value="C:/fileHeadImg" />
  <add key="fileAppDTImg" value="C:/fileAppDTImg" />
  <add key="fileLogoImg" value="C:/fileLogoImg" />
  <!--印章管理存储图片路径 -->
  <add key="Stamp" value="C:/StampImg" />
  <add key="Intervals" value="1"/>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
</appSettings>