
@{
    ViewBag.Title = "FileAuthIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .lr-layout {
    padding: 0px;
}

    .lr-layout-wrap {
        border-radius: 0px;
    }
    .path-item {
        cursor: pointer;
    }

    .path-item:hover {
        color: #3286ed;
       
    }
</style>
    <div class="lr-layout">
        <div class="lr-layout-center">
            <div class="lr-layout-wrap lr-layout-wrap-notitle">
                <div class="lr-layout-tool">
                    <div class="lr-layout-tool-left">
                        <div class="lr-layout-tool-item">
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入文件名称" />
                        </div>
                        <div class="lr-layout-tool-item">
                            <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                        </div>
                    </div>
                    <div class="lr-layout-tool-right">
                        <div class=" btn-group btn-group-sm">
                            <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                        </div>
                        <div class=" btn-group btn-group-sm">
                            <a id="lr_auth" class="btn btn-default"><i class="fa fa-legal"></i>&nbsp;<span class="lrlg">授权</span></a>
                            <a id="lr_main_auth" class="btn btn-default"><i class="fa fa-legal"></i>&nbsp;<span class="lrlg">主目录授权</span></a>
                        </div>
                    </div>
                </div>
                <div class="lr-layout-body">
                    <div class="lr-rblock active " style="padding-top:32px;" id="releaseFile">
                        <div style="position:absolute;top:0;left:0;height:32px;line-height:31px;color:#666;width:100%;border-bottom:1px solid #ccc;padding-left:8px;" id="pathList">
                            <span data-fileid="0" class="path-item">主目录</span>
                        </div>
                        <div id="gridtable"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@Html.AppendJsFile("/Areas/LR_SystemModule/Views/Files/FileAuthIndex.js")