
@{
    ViewBag.Title = "FileHistroyIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="lr-rblock" style="padding:8px" >
    <div id="gridtable" style="border:1px solid #ccc" >

    </div>
</div>

@Html.AppendJsFile("/Areas/LR_SystemModule/Views/Files/FileHistroyIndex.js")