
@{
    ViewBag.Title = "文件管理";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@Html.AppendCssFile("/Areas/LR_SystemModule/Views/Files/Index.css")

<div id="lr_layout" class="lr-layout lr-layout-left-center">
    <div class="lr-layout-left">
        <div class="lr-layout-wrap lr-layout-wrap-notitle" style="padding-top:10px;">
            <div class="lr-layout-body">
                <ul class="lr-left-list" id="lr_left_list">
                    <li data-value="releaseFile" class="lrlg active">正式文件</li>
                    <li data-value="verifyFile" class="lrlg">审核中文件</li>
                    <li data-value="recycledFile" class="lrlg">回收站</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <div id="datesearch" class="datetime"></div>
                    </div>
                    <div class="lr-layout-tool-item">
                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" />
                    </div>
                    <div class="lr-layout-tool-item">
                        <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;<span class="lrlg">查询</span></a>
                    </div>
                </div>
                <div class="lr-layout-tool-right">
                    <div class="btn-group btn-group-sm">
                        <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <a id="lr-uploadify" class="btn btn-success"><i class="fa fa-upload"></i>&nbsp;<span class="lrlg">创建文件</span></a>
                    </div>
                    <div class="btn-group btn-group-sm">
                        <a id="lr-folder" class="btn btn-default"><i class="fa fa-folder"></i>&nbsp;<span class="lrlg">文件夹管理</span></a>
                        <a id="lr-fileAuth" class="btn btn-default"><i class="fa fa-legal"></i>&nbsp;<span class="lrlg">文件授权</span></a>
                    </div>
                </div>
            </div>
            <div class="lr-layout-body">
                <div class="lr-rblock active " style="padding-top:32px;" id="releaseFile">
                    <div style="position:absolute;top:0;left:0;height:32px;line-height:31px;color:#666;width:100%;border-bottom:1px solid #ccc;padding-left:8px;" id="pathList" >
                        <span data-fileid="0"  class="path-item">主目录</span>
                    </div>
                    <div id="gridTable" ></div>
                </div>
                <div class="lr-rblock" id="verifyFile" style="padding:5px;">
                    <div class="lr-form-tabs" id="lr_form_tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-value="1"><span class="lrlg">我提交的文件</span></a></li>
                            <li><a data-value="2"><span class="lrlg">需要审核的文件</span></a></li>
                            <li><a data-value="3"><span class="lrlg">已审核文件</span></a></li>
                        </ul>
                    </div>
                    <div class="lr-tab-content" style="padding-top:8px;">
                        <div id="wfgridtable" style="border:1px solid #ccc;" ></div>
                    </div>
                </div>
                <div class="lr-rblock" id="recycledFile"><div id="dgridtable" ></div></div>
            </div>
        </div>
    </div>
</div>

@Html.AppendJsFile("/Areas/LR_SystemModule/Views/Files/Index.js")

