.lr-layout {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.lr-layout-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: rgb(189, 189, 189) 0px 0px 10px;
}
.top-btn-tool {
    position: absolute;
    top: 0;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 6px 6px;
    padding: 8px;
}
.content {
    position:absolute;
    top:30px;
    left:0;
    width:100%;
    height:76px;
    padding-right:30px;
}


.file {
    height: 55px;
    font-size: 300px;
    position: absolute;
    left: 1px;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 100px;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 999998;
}

    .mask img {
        width: 500px;
        height: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -250px;
    }

.closebutton {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    margin-top: -165px;
    margin-left: 235px;
    z-index: 210;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    font-size: 30px;
    background-color: aliceblue;
    border: 1px solid #eee;
    border-radius: 50%;
    color: red;
    z-index: 999999;
    cursor:pointer;
}

.imgname {
    line-height: 28px;
    color: #1464e1;
    cursor: pointer;
}