@{
    ViewBag.Title = "报表文件管理";
    Layout = "~/Views/Shared/_ReportForm.cshtml";
}

<div id="viewerContainer" style=" height:800px;text-align:center"></div>
@Html.AppendJsFile("/Areas/LR_ReportModule/Views/RptManage/Report.js")
