@{
    ViewBag.Title = "二维码生成";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript" src="~/Content/qrcode/qrcode.js"></script>
<script type="text/javascript" src="~/Content/qrcode/jquery.min.js"></script>
<script src="~/Content/jquery/plugin/jqprint/jquery.jqprint-0.3.js"></script>

<div class="lr-layout ui-report">
    <div class="lr-layout-center">
        <div class="lr-layout-wrap lr-layout-wrap-notitle">
            <div class="lr-layout-tool">
                <div class="lr-layout-tool-left">
                    <div class="lr-layout-tool-item">
                        <input id="txt_code" type="text" value="https://www.learun.cn" class="form-control" placeholder="请输入生成二维码关键字" />
                        <input id="txt_num" type="text" value="1" class="form-control" placeholder="请输入生成二维码数量" />
                        <a id="lr-ok" class="btn btn-primary btn-sm">&nbsp;<span class="lrlg">生成</span></a>
                        <a id="lr-print" class="btn btn-default"><i class="fa fa-print"></i>&nbsp;<span class="lrlg">打印</span></a>
                    </div>
                </div>
            </div>
            <div id="qrcode"></div>
        </div>
    </div>
</div>

@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/QrCode/Index.js")