body {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
}

.lr-layout-panel-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    padding: 5px;
    width: 100%;
    text-align: right;
    line-height: 26px;
}
.flow-btn {
    z-index:2;
    display:none;
}
.flow-btn .btn {
    padding: 4px 6px;
    display: none;
}
    .flow-btn.col-xs-12 .btn {
        margin-top:10px;
        margin-right:5px;
    }

    .lr-form-bg {
        display: none;
    }

.lr-layout-panel {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding-right:400px;
}

.lr-layout-panel-right {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    border-left:1px solid #ccc;
    width:400px;
}

.lr-nav-tabs {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 1;
    /*border-top: 1px solid #ccc;*/
}

.nav-tabs.lr-nav-tabs > li > a {
    cursor: pointer;
}

.nav-tabs.lr-nav-tabs > li.active > a, .nav-tabs.lr-nav-tabs > li.active > a:focus, .nav-tabs.lr-nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #3498DB;
}

.nav-tabs.lr-nav-tabs > li > a {
    margin-right: 0;
    border-radius: 0;
    border: 0;
    padding: 11px 15px;
}

.tab-content, .tab-content .tab-pane {
    position: relative;
    width: 100%;
    height: 100%;
}

.form-list {
    position: relative;
    height: 100%;
    width: 100%;
}

.form-list-iframe, .form-list-container {
    width: 100%;
    height: 100%;
    display: none;
}

    .form-list-iframe.active, .form-list-container.active {
        display: block;
    }

.form-list-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
}


    .form-list-tabs .nav-tabs {
        border-bottom: 0px;
        border-top: 1px solid #ddd;
        white-space: nowrap;
    }

        .form-list-tabs .nav-tabs > li {
            white-space: nowrap;
            display: inline-block !important;
            float: initial;
        }

            .form-list-tabs .nav-tabs > li > a {
                color: #666;
                margin: 0px;
                border-radius: 0;
                cursor: pointer;
                background-color: #f5f5f5;
                border-right: 1px solid #ddd;
                top: -1px;
            }

                .form-list-tabs .nav-tabs > li > a:hover {
                    border-color: #f5f5f5;
                    border-right: 1px solid #ddd;
                    background-color: #fefefe;
                }

            .form-list-tabs .nav-tabs > li.active > a,
            .form-list-tabs .nav-tabs > li.active > a:focus,
            .form-list-tabs .nav-tabs > li.active > a:hover {
                top: -1px;
                color: #000;
                cursor: default;
                background-color: #fff;
                border-color: #f5f5f5;
                border-right: 1px solid #ddd;
                border-top: 2px solid #fff;
            }

    .form-list-tabs .mCS-minimal-dark.mCSB_scrollTools_horizontal {
        top: 30px;
    }

.lr-workflow-work .lr-workflow-workinner {
    background-image: none;
}


.flow-item {
    display:none;
}


.lr-layout-panel-notright {
    padding-right:0;
}
    .lr-layout-panel-notright .lr-layout-panel-right {
        display:none;
    }


.tab-flow-audit {
    margin-top:8px;
}
    .tab-flow-audit .auditinfo {
        position: relative;
        width: 100%;
        height: 100px;
        border: 1px solid #ccc;
        padding-left: 120px;
        border-top: none;
    }
    .tab-flow-audit .auditinfo:first-child {
        border-top: 1px solid #ccc;
    }

    .tab-flow-audit .auditinfo-h {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 120px;
        border-right: 1px solid #ccc;
        padding: 4px 0 0 4px;
    }
    .tab-flow-audit .auditinfo-b {
        position: relative;
        width: 100%;
        height: 100%;
        padding:4px;
    }
    .tab-flow-audit .auditinfo-d, .tab-flow-audit .auditinfo-n {
        position: absolute;
        bottom: 24px;
        right: 0px;
        width: 170px;
        text-align: left;
    }
    .tab-flow-audit .auditinfo-d {
        bottom: 4px;
    }


.auditinfo-s {
    position:absolute;
    top:0;
    right:200px;
    height:100px;
}
.auditinfo-s img{
    height: 100px;
}
.auditinfo-sg {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
}
    .auditinfo-sg img {
        height: 40px;
    }
