@{
    ViewBag.Title = "选择下一节点审核人员";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-wrap" id="form">
</div>
@Html.AppendJsFile("/Areas/LR_NewWorkFlow/Views/NWFProcess/SelectUserForm.js")

