@{
    ViewBag.Title = "个人基本信息";
    Layout = "~/Views/Shared/_Form.cshtml";
}
    <div class="lr-form-wrap" id="form">
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">姓名<font face="宋体">*</font></div>
            <input id="F_UserName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">身份证号码<font face="宋体">*</font></div>
            <input id="F_IDCardNo" type="text" class="form-control" isvalid="no" checkexpession="isIDCard" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">性别<font face="宋体">*</font></div>
            <div id="F_Gender" isvalid="yes" checkexpession="NotNull" readonly style="background: rgb(238, 238, 238);"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">年龄<font face="宋体">*</font></div>
            <input id="F_Age" type="text" class="form-control" isvalid="yes"  readonly style="background: rgb(238, 238, 238);" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">存档编码<font face="宋体">*</font></div>
            <input id="F_PlaceCode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">证书编码<font face="宋体">*</font></div>
            <input id="F_CertCode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">来源<font face="宋体">*</font></div>
            <div id="F_ApplicantId" isvalid="yes" checkexpession="NotNull"></div>
        </div>
        <div class="col-xs-6 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">到场<font face="宋体">*</font></div>
            <div id="F_SceneType" isvalid="yes" checkexpession="NotNull"></div>
        </div>

        <div class="col-xs-12 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">社保地<font face="宋体">*</font></div>
            <input id="F_ProvinceCode" type="text"  class="form-control" />
        </div>

        <div class="col-xs-12 lr-form-item" data-table="tc_Personnels">
            <div class="lr-form-item-title">备注</div>
            <textarea id="F_Description" type="text" class="form-control" style="height:80px;"></textarea>
        </div>
    </div>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/Personnels/Form.js")
