
@{
    ViewBag.Title = "PictureForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}
@Html.AppendCssFile("/Areas/LR_PortalSite/Views/HomeConfig/PictureForm.css")
<div class="body">
    <div class="pictureBtn" id="addBtn">添加图片</div>
</div>
@Html.AppendJsFile("/Views/LR_Content/script/lr-fileupload.js", "/Areas/LR_PortalSite/Views/HomeConfig/PictureForm.js")

