@{
    ViewBag.Title = "模块风格选择";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@Html.AppendCssFile("/Areas/LR_PortalSite/Views/HomeConfig/SelectModuleForm.css")
<div class="body">
    <div class="content">
        <div class="box">
            <div class="box-content" data-value="1">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/acoment1.png" />
                    <img class="img2" src="~/Content/images/plhome/acoment2.png" />
                </div>
                <div class="text">风格一</div>
            </div>
        </div>
        <div class="box">
            <div class="box-content" data-value="2">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/new1.png" />
                    <img class="img2" src="~/Content/images/plhome/new2.png" />
                </div>
                <div class="text">风格二</div>
            </div>
        </div>
        <div class="box">
            <div class="box-content" data-value="3">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/table1.png" />
                    <img class="img2" src="~/Content/images/plhome/table2.png" />
                </div>
                <div class="text">风格三</div>
            </div>
        </div>
        <div class="box">
            <div class="box-content" data-value="4">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/work2.png" />
                    <img class="img2" src="~/Content/images/plhome/work1.png" />
                </div>
                <div class="text">风格四</div>
            </div>
        </div>
        <div class="box">
            <div class="box-content" data-value="5">
                <div class="img">
                    <img class="img1" src="~/Content/images/plhome/make1.png" />
                    <img class="img2" src="~/Content/images/plhome/make2.png" />
                </div>
                <div class="text">风格五</div>
            </div>
        </div>
    </div>
</div>

@Html.AppendJsFile("/Areas/LR_PortalSite/Views/HomeConfig/SelectModuleForm.js")

