
@{
    ViewBag.Title = "ChildIndex";
    Layout = "~/Views/Shared/_PageIndex.cshtml";
}

<link href="~/Content/style/ChildIndex.css" rel="stylesheet" />
<script src="~/Content/scripts/ChildIndex.js"></script>

<div class="lr-site-body-container">
</div>

