@{
    ViewBag.Title = "ImgListIndex";
    Layout = "~/Views/Shared/_PageIndex.cshtml";
}
<link href="~/Content/style/ImgListIndex.css" rel="stylesheet" />
<script src="~/Content/scripts/ImgListIndex.js"></script>

<div class="lr-site-body-container">
    <div class="lr-site-body-left">
        <div class="lr-site-title">新闻中心</div>
        <div class="lr-site-body-cotent">
            <div class="lr-site-title-item">党建专栏</div>
            <div class="lr-site-title-item active">力软动态</div>
            <div class="lr-site-title-item">力软公告</div>
            <div class="lr-site-title-item">最新活动</div>
            <div class="lr-site-title-item">新闻报道</div>
        </div>
    </div>
    <div class="lr-site-body-right">
        <div class="lr-site-title">力软动态</div>
        <div class="lr-site-body-cotent">
            <div class="row">
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 lr-site-img-item">
                    <div class="lr-site-img-content2">
                        <img class="img" src="~/Content/images/banner_df.jpg" />
                        <div class="text">力软信息技术</div>
                    </div>
                </div>
            </div>
            <div class="lr-site-body-page" id="lr_page"></div>
        </div>
    </div>
</div>

