@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link href="~/Content/style/Index.css" rel="stylesheet" />
<div class="lr-site-banner">
    <div class="lr-site-banner-swiper-container swiper-container">
        <div class="swiper-wrapper">
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="lr-site-banner-default">
        <div class="title">此处可替换背景轮播图</div>
        <img class="img" src="~/Content/images/banner_df.jpg" />
    </div>
</div>
<div class="lr-site-modules">

</div>
<script src="~/Content/scripts/Index.js"></script>