
@{
    ViewBag.Title = "ListIndex";
    Layout = "~/Views/Shared/_PageIndex.cshtml";
}
<link href="~/Content/style/ListIndex.css" rel="stylesheet" />
<script src="~/Content/scripts/ListIndex.js"></script>

<div class="lr-site-body-container">
    <div class="lr-site-body-left">
        <div class="lr-site-title">新闻中心</div>
        <div class="lr-site-body-cotent">
            <div class="lr-site-title-item">党建专栏</div>
            <div class="lr-site-title-item active">力软动态</div>
            <div class="lr-site-title-item">力软公告</div>
            <div class="lr-site-title-item">最新活动</div>
            <div class="lr-site-title-item">新闻报道</div>
        </div>
    </div>
    <div class="lr-site-body-right">
        <div class="lr-site-title">力软动态</div>
        <div class="lr-site-body-cotent">
            <div class="lr-site-body-img">
                <div class="lr-site-swiper-container swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="img" src="~/Content/images/banner_df.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img class="img" src="~/Content/images/banner_df.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img class="img" src="~/Content/images/banner_df.jpg" />
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="lr-site-body-list">
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
                <div class="lr-site-body-list-item">
                    <div class="text">力软敏捷开发框架 7.0.1 版本发布了</div>
                    <div class="date">2018-07-09</div>
                </div>
            </div>
            <div class="lr-site-body-page" id="lr_page"></div>
        </div>
    </div>
</div>