@{
    ViewBag.Title = "印章管理";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="lr-form-layout">
    <div class="lr-form-layout-top">
        <div class="lr-item">
            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width:240px;" />
        </div>
        <div class="lr-item">
            <a id="btn_Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
        <div class="lr-item" style="float:right;width:200px;margin-right:10px;">
            <input id="F_Password" type="text" class="form-control" isvalid="yes" checkexpession="NotNull"  placeholder="请输入密码"/>
        </div>
    </div>
    <div id="datagird"></div>
</div>

@Html.AppendJsFile("/Areas/LR_NewWorkFlow/Views/StampInfo/StampDetailIndex.js")

<style>
    .lr-form-layout {
    padding: 44px 0 0 0;
}

.lr-form-layout-top {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd;
    height: 44px;
    width: 100%;
    padding-left: 3px;
    z-index: 4;
}

.lr-item {
    position: relative;
    float: left;
    padding-top: 8px;
    padding-left: 5px;
    line-height: 28px;
}

    .lr-item .btn {
        position: relative;
        display: inline-block;
        height: 28px;
        margin-bottom: 1px;
        line-height: 14px;
    }

    .lr-item .lr-select {
        width: 170px;
    }

    .lr-item .lr-field-error-info {
        top: 9px;
        height: 26px;
    }

</style>

